*{
  margin: 0;
  padding: 0;
}
img{
 top: -29px;
 left: 30px;
 height: 120px;
 width: 130px;
 position: absolute;
 cursor: pointer;
}
.container{
  margin-top: 70px;
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .form_container{
  padding-top: 50px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
  height: 300px;
  width: 300px;
box-shadow: -1px 0px 7px 0px rgba(212,212,212,0.75);
  -webkit-box-shadow: -1px 0px 7px 0px rgba(212,212,212,0.75);
  -moz-box-shadow: -1px 0px 7px 0px rgba(212,212,212,0.75);
}
.container .form_container h3{
  margin-bottom: 15px;
  font-family:Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
}
.container .form_container form .email_cont{
  margin-top: 7px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 0.5px solid black;
  background-color: whitesmoke;
}
.container .form_container form .email_cont i{
 font-size: 23px;
 margin-left: 20px;
 margin-right: 20px;
color: rgb(75, 75, 75);
}
.container .form_container form .email_cont input{
  padding: 15px;
  width: 100%;
  letter-spacing: 1px;
  border: none;
  background-color: white;
}
#login_btn{
  padding: 10px;
  width: 150px;
  color: white;
  background-color: rgb(9, 145, 224);
  border:0.5px solid rgb(9, 145, 224);
  cursor: pointer;
}

/* responsive view */
@media (max-width:1100px) {
 .container .form_container{
    padding-left: 20px;
    padding-right: 20px;
 }
}