.members{
 height: 85vh;
 width: 100%;
 font-family: monospace;
 overflow-y: hidden;
}
.members .sidebar{
 margin-bottom: 30px;
 height: fit-content;
 box-shadow: 0px 1px 5px 0px rgba(181,181,181,0.75);
-webkit-box-shadow: 0px 1px 5px 0px rgba(181,181,181,0.75);
-moz-box-shadow: 0px 1px 5px 0px rgba(181,181,181,0.75);
}
.members .sidebar #title{
 margin-left: -4px;
}
.members .sidebar ul{
 margin-left: -20px;
 color: rgb(70, 70, 70);
}

/* scrollabe member list */
.members .row .data{
 height: 92vh;
 overflow-y: scroll;
 flex-flow: wrap;
  padding-bottom: 50px;
}
.members .row .data .boxCont{
 flex-flow: wrap;
}
.members .row .data::-webkit-scrollbar{
  display: none;
}
.members .row .data .box{
  height:370px;
  width: 270px;
  box-shadow: 0px 1px 5px 0px rgba(181,181,181,0.75);
-webkit-box-shadow: 0px 1px 5px 0px rgba(181,181,181,0.75);
-moz-box-shadow: 0px 1px 5px 0px rgba(181,181,181,0.75);
}
.members .row .data .box .body{
  padding-top: 10px;
  height: 158px;
  overflow-y: hidden;
}
.members .row .data .box .body h5{
 font-size: 18px;
 letter-spacing: -0.8px;
}
.members .row .data .box .footer{
  margin-top: 20px;
  font-size: 14px;
}
.members .row .data .box .bookImg{
  margin-top: -23px;
  width: 100%;
  height: 150px;
  overflow:hidden;
}
.members .row .data .box span #value{
  padding-top: 1px;
  padding-bottom: 3px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 14px;
}
.members .row .data .box .footer .edit_cont{
  box-shadow: 0px 1px 5px 0px rgba(181,181,181,0.75);
-webkit-box-shadow: 0px 1px 5px 0px rgba(181,181,181,0.75);
-moz-box-shadow: 0px 1px 5px 0px rgba(181,181,181,0.75);
 cursor: pointer;
}
.members .row .data .box .footer .edit_cont:hover{
 opacity: 0.7;
}


/* responsive view */
@media(max-width:1100px){
.members .sidebar{
 width: 100%;
 box-shadow: none;
}
.members .row .data{
 justify-content: center;
 }
}